<div class="vr p-0" style="opacity: 0.1;"></div>
<div class="col-7 px-0">
	<%= link_to 'For you', dashboard_path, class: "fs-5 px-2 fw-medium text-dark text-decoration-none"%>
	<hr style="margin: 0.7rem 0; opacity: 0.1;">
	<div class="p-2">
	  <%= render "shared/tweet_form" %>
	</div>
	<hr style="margin: 0.7rem 0; opacity: 0.1;">


	<div class="p-2" id="tweets"> 
		 <%= render partial: "tweets/tweet", collection: @tweets_presenter, as: :tweet_presenter %>
	</div>
</div>
<div class="vr p-0" style="opacity: 0.1;"></div>

<div class="col">
  Column
</div>
