.btn-twitter {
	background-color: $twitter-blue;
	color: $white;
	&:hover {
		background-color: $twitter-blue-dark !important;
		color: $white !important;
	}
}

.message-button {
	background-color: $twitter-blue;
	color: $white;
	&:hover {
		background-color: $twitter-blue-dark !important;
		color: $white !important;
	}
}